# {{ ansible_managed }}
# dist : {{ ansible_distribution }}
# arch : {{ ansible_architecture }}

{% if ansible_architecture == "x86_64" %}
deb [arch=amd64 signed-by=/etc/apt/keyrings/docker.asc] https://download.docker.com/linux/{{ ansible_distribution|lower }} {{ ansible_lsb.codename|lower }} stable
{% elif ansible_architecture == "aarch64" %}
deb [arch=arm64 signed-by=/etc/apt/keyrings/docker.asc] https://download.docker.com/linux/{{ ansible_distribution|lower }} {{ ansible_lsb.codename|lower }} stable
{% else %}
deb [signed-by=/etc/apt/keyrings/docker.asc] https://download.docker.com/linux/{{ ansible_distribution|lower }} {{ ansible_lsb.codename|lower }} stable
{% endif %}
