{
    "data-root": "{{ docker_data_root }}",
    "storage-driver": "{{ docker_storage_driver }}",
{% if docker_userns_remap is sameas true %}
    "userns-remap": "default",
{% elif docker_userns_remap is not sameas false %}
    "userns-remap": {{ docker_userns_remap | to_json }},
{% endif %}
{% if docker_dns|length > 0 %}
    "dns": {{ docker_dns | to_json }},
{% endif %}
    "bip": "{{ docker_bip }}",
    "fixed-cidr": "{{ docker_fixed_cidr }}",
    "default-address-pools" : {{ docker_default_address_pools | to_json }},

    "icc": {{ docker_icc | to_json }},
    "live-restore": {{ docker_live_restore | to_json }},
    "userland-proxy": {{ docker_userland_proxy | to_json }},
    "no-new-privileges": {{ docker_no_new_privileges | to_json }}
}
