{% if docker_userns_remap is sameas false %}
{{ docker_data_root }}/containers/*/*.log {
{% else %}
{{ docker_data_root }}/*/containers/*/*.log {
{% endif %}
    rotate 7
    daily
    compress
    size=1M
    missingok
    delaycompress
    copytruncate
}
